PORT=3000
GOOGLE_SHEET_ID=1HdskGnqxseXqtOx_b4T7rRdDDapHexVQBy0Es4k2c0w

# Option 1: full JSON in one line
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

# Option 2: split fields
# GOOGLE_CLIENT_EMAIL=service-account@project-id.iam.gserviceaccount.com
# GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

PLANNING_RANGE=Planning!A1:P
DATA_RANGE=Data!A1:Z
PARAM_RANGE=Param!A1:Z
